@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    font-size: 30px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px;
}

#sock-discount .swiper-button-next,
#sock-discount .swiper-button-prev {
    color: white;
    background-color: black;
    opacity: 0.1;
}

#sock-discount .swiper-button-next {
    border-radius: 4px 0 4px 0;
}
#sock-discount .swiper-button-prev {
    border-radius: 0 4px 4px 0;
}
#sock-discount .swiper-button-next:hover,
#sock-discount .swiper-button-prev:hover {
    color: white;
    background-color: black;
    opacity: 0.5;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.menu-user {
    @apply text-sm hover:bg-color_hover px-3 py-1 cursor-pointer;
}
.option-rating-review {
    @apply px-7 text-base py-2 bg-white rounded-sm  text-primary font-normal border-[1px] border-solid  capitalize   hover:bg-opacity-100;
}
.css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    margin-top:3px !important;
    color:slategrey
}